<link href="/public/footer.css" type="text/css" rel="stylesheet"/>
<footer class="page-footer">

  <div class="about_div header">
    <p><span>Про FluentUkrainian</span></p>
  </div>

  <div class="app_div header">
    <p><span>Застосунок</span></p>
  </div>

  <div class="support_div header">
    <p><span>Підтримка</span></p>
  </div>

  <div class="socials_div header">
    <p><span>Соціальні мережі</span></p>
  </div>

  <div class="socials_content_div">
    <div class="fb-div text_default">
      <!-- Facebook icon-->
      <div class="img-contain"><img src="/pages/images/shop_list/u28.svg"/></div>
      <p><span>Facebook</span></p>
    </div>

    <!-- Instagram icon -->
    <div class="insta-div text_default">
      <div class="img-contain"><img src="/pages/images/shop_list/u29.svg"/></div>
      <p><span>Instagram</span></p>
    </div>

    <!-- Telegram icon -->
    <div class="tg-div text_default">
      <div class="img-contain"><img src="/pages/images/shop_list/u30.svg"/></div>
      <p><span>Telegram</span></p>
    </div>

  </div>

  <div class="about_content_div text_default">
    <a href="homepage" class="link_hidden">Освітній проєкт</a>
    <a href="learning_materials" class="link_hidden">Навчальні матеріали</a>
    <a href="teachers_list" class="link_hidden">Викладачі</a>
  </div>

  <div class="support_content_div text_default">
    <p><span>Підтримка</span></p>
    <p><span>Питання та відповіді</span></p>
  </div>

  <div class="app_content_div text_default">
    <p><span>Детальніше</span></p>
  </div>

  <div class="separator_line_div">
    <div class="separator_line"></div>
  </div>

  <div class="copyright_div text_default">
    <p><span>© 2024 FluentUkrainian. Всі права захищені.</span></p>
  </div>

</footer>