<header class="page-header">
  <link href="../public/header.css" type="text/css" rel="stylesheet"/>

  <nav class="navbar">
    <div class="nav-logo">
      <img class="logo-img noselect" src="../public/images/logo.png">
      <a class="link_hidden noselect" href="/">Fluent<br>Ukrainian</a>
    </div>

    <ul class="nav-links">
      <li><a class="nav-link1 link_hidden noselect" href="homepage">Головна сторінка</a></li>
      <li><a class="nav-link2 link_hidden noselect" href="learning_materials">Навчальні матеріали</a></li>
      <li><a class="nav-link3 link_hidden noselect" href="teachers_list">Викладачі</a></li>
      <li><a class="nav-link4 link_hidden noselect" href="app_download">Мобільний застосунок</a></li>  
    </ul>

    <div class="nav-profile">
      <div class=""><a class="link_hidden noselect signup_prompt_link" href="sign_up">Зареєструватися</a></div>
      <div class=""><a class="link_hidden noselect login_prompt_link" href="log_in">Увійти</a></div>
    </div>
  </nav>

</header>
