<header class="page-header">
  <link href="../public/header.css" type="text/css" rel="stylesheet"/>

  <nav class="navbar">
    <div class="nav-logo">
      <a class="logo-img noselect" href="/"></a>
      <a class="link_hidden noselect" href="/">Fluent<br>Ukrainian</a>
    </div>

    <ul class="nav-links">
      <li><a class="nav-link1 link_hidden noselect" href="homepage">Головна сторінка</a></li>
      <li><a class="nav-link2 link_hidden noselect" href="learning_materials">Навчальні матеріали</a></li>
      <li><a class="nav-link3 link_hidden noselect" href="teachers_list">Викладачі</a></li>
      <li><a class="nav-link4 link_hidden noselect" href="app_download">Мобільний застосунок</a></li>  <!-- тестування парсера -->
    </ul>
    <div class="nav-profile">
      <a class="link_hidden noselect user_profile_link" href="user_profile">Мій кабінет</a>
      <a class="user_profile_img noselect" href="user_profile"></a>
    </div>
  </nav>

</header>
