<header class="page-header">
  <link href="../public/header.css" type="text/css" rel="stylesheet"/>

  <nav class="navbar">
    <div class="nav-logo">
      <img class="logo-img noselect" src="../public/images/logo.png">
      <a class="link_hidden noselect" href="/">Fluent<br>Ukrainian</a>
    </div>

    <ul class="nav-links">
      <li><a class="nav-link1 link_hidden noselect" href="homepage">Головна сторінка</a></li>
      <li><a class="nav-link2 link_hidden noselect" href="learning_materials">Навчальні матеріали</a></li>
      <li><a class="nav-link3 link_hidden noselect" href="teachers_list">Викладачі</a></li>
      <li><a class="nav-link4 link_hidden noselect" href="shop_list">Книжковий магазин</a></li>  
    </ul>

    <div class="nav-cart">
      <a class="link_hidden noselect" href="shopping-cart">Мій кошик</a>
      <img class="cart-img noselect" src="../public/images/cart-icon.svg">
    </div>
  </nav>

</header>
