<!DOCTYPE html>
<html>
  <head>
    <title>shopping_cart</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../public/shopping-cart.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
      <!-- Main block-->
      <div class="cart_block">
          <img class="image image_cart " src="../pages/images/shopping_cart/u128.svg"/>

          <div class="paragraph paragraph_author">
              <p><span>Григорій Квітка-Основ'яненко</span></p>
          </div>
          <div class="header header_title">
            <p><span>&quot;Конотопська відьма&quot;</span></p>
          </div>
          <button class ="button button_delete"></button>

          <div class="header header_price">
            <p><span>400 грн</span></p>
          </div>

          <div class="quantity_stepper">
            <div class="paragraph paragraph_quantity_label">
              <p><span>Кількість:</span></p>
            </div>

            <button id="stepper_inc" class="button stepper_button"><span>+</span></button>

            <div class="paragraph paragraph_quantity">
              <p><span>1</span></p>
            </div>

            <button id="stepper_dec" class="button stepper_button"><p id="stepper_dec_text">—</p></button>
          </div>
      </div>
  </body>
</html>
