.page_header {
  position: absolute;
  top: 100px;
  left: 120px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  display: flex;
  font-family: "Bahnschrift Bold", "Bahnschrift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #000000;
}
#u7 {
  position: absolute;
  top:145px;
}
#book_block {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:535px;
    background:inherit;
    background-color:rgba(215, 179, 228, 0.6980392156862745);
    box-sizing:border-box;
    border-width:2px;
    border-style:solid;
    border-color:rgba(51, 10, 106, 1);
    border-radius:15px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"Bahnschrift", sans-serif;
    /* centers the items inside the div */
    display: grid;
    place-items: center;
  }
  #book_details_div {
    position: relative;
    display: grid;
    place-items: center;
    top: -5px;
  }
  #book_image {
    border-width:0px;
    position:relative;
    left:0px;
    top:10px;
    width:243px;
    height:306px;
  }
  /* formerly u77_text */
  #book_title {
      border-width:0px;
      font-size:20px;
      position:relative;
      word-wrap:break-word;
      text-transform:none;
  }
  #book_author {
    border-width:0px;
    top: 10px;
    position:relative;
    word-wrap:break-word;
    text-transform:none;
  }
  /* formerly u_80_img*/
  #separator_line {
    border-width:0px;
    position:relative;
    top:20px;
    width:203px;
    height:5px;
  }
  .details_header {
    font-family:"Bahnschrift Bold", "Bahnschrift", sans-serif;
    font-weight:700;
    font-style:normal;
  }
  #price_tag{
    border-width:0px;
/*     position: relative;
    top: 30px; */
    font-size:25px;
    white-space:nowrap;
    text-transform:none;
  }
  #book_order_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    color: #ffffff;
    z-index: 1;
  }
  .button {
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-color: rgba(51, 10, 106, 1);
    font-size: 14px;
    font-family:"Bahnschrift", sans-serif;
    border-width: 2px;
    border-style: solid;
    background-color: #8c5cbc;
  }
  .button:active {
    background-color: rgba(51, 10, 106, 1);
  }
  .button_cart {
    position: relative;
    top: -30px;
    width: 35%;
  }