  .block_cart_empty {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: left; /* Center items vertically */
  }
  .header_make_order {
    margin-right: 100px;
    padding-left: 20px;
  }
  .make_order_block {
    position: absolute;
    width:500px;
    height: 150px;
  }
  .button:active {
    background-color: rgba(51, 10, 106, 1);
  }
  .block_button_make_order {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .button_make_order {
    width: 40%;
    height: 55px;
  }
  .button_make_order_text {
    font-size: 18px;
    position: relative;
    top:-25px;
  }