.action_header_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-family: "Bahnschrift Bold", "Bahnschrift", sans-serif;
    font-weight: bold;
}

.edit_form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.category_label {
    font-size: 18px;
    margin: 10px;
    font-family: "Bahnschrift", sans-serif;
}

.input_edit {
    width: 95%;
    margin: 10px;
    padding: 5px;
}

.edit_label {
    font-size: 20px;
    font-family: "Bahnschrift Bold", "Bahnschrift", sans-serif;
    font-weight: bold;
}

.title_edit {
    font-size: 20px;
    font-family: "Bahnschrift Bold", "Bahnschrift", sans-serif;
    font-weight: bold;
}

.shortInfo_edit {
    font-size: 18px;
    font-family: "Bahnschrift", sans-serif;
    height: 100px;
}

.description_edit {
    font-size: 18px;
    font-family: "Bahnschrift", sans-serif;
    height: 400px;
}
.edit_button {
    position: static;
    margin-top: 25px;
    margin-left: 5px;
    float: left;
    width: 15%;
}