body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-0px;
    width:1440px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  .button {
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-color: rgba(51, 10, 106, 1);
    font-size: 14px;
    font-family:"Bahnschrift", sans-serif;
    border-width: 2px;
    border-style: solid;
    background-color: #8c5cbc;
  }
  .button_make_order {
    position: relative;
    width: 35%;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  .cart_block {
    position:absolute;
    left:0px;
    top:0px;
    width:590px;
    height:300px;
    background:inherit;
    background-color:rgba(215, 179, 228, 0.6980392156862745);
    box-sizing:border-box;
    border-width:2px;
    border-style:solid;
    border-color:rgba(51, 10, 106, 1);
    border-radius:15px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  .image {
      border-width:0px;
      position:relative;
  }
  .image_cart {
    left:40px;
    top:30px;
    width:164px;
    height:212px;
  }
  .paragraph {
    border-width:0px;
    position:relative;
    width:360px;
    height:76px;
    display:flex;
    font-family:"Bahnschrift", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:15px;
    color:#000000;
  }
  .paragraph_author {
    top:-155px;
    left:230px;
  }
  .header_title {
    top:-280px;
    left:230px;
  }
  .header_price {
    top:-232px;
    left:500px;
  }
  .header {
    border-width:0px;
    position:relative;
    display:flex;
    font-family:"Bahnschrift Bold", "Bahnschrift", sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:21px;
    color:#000000;
  }
  .stepper_button {
    background-color: transparent;
    color: #000000;
    position: relative;
    font-size:33px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    border-radius:50%;
    border-width: 1px;
    z-index: 2;
  }
  .inactive {
    color: white;
    border-color: white;
    cursor:default;
  }
  .button_delete {
    background: url(../pages/images/shopping_cart/u140.svg) no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0%;
    width: 20px;
    height: 30px;
    position: relative;
    top: -330px;
    left: 520px;
  }
  .quantity_stepper {
    position: relative;
    top:-290px;
    left: 230px;
  }
  .paragraph_quantity{
    position: relative;
    font-size: larger;
    top: -117px;
    left: 147px;
  }
  .stepper_inc {
    top:-66px;
    left:175px;
  }
  .stepper_dec {
    top:-175px;
    left:100px;
  }
  /* Text on the decrement button */
  .stepper_dec_text {
    font-size: 23px;
    position: relative;
    top:-3px;
  }