body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.button {
  position:absolute;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 8px;
  border-color: rgba(51, 10, 106, 1);
  font-size: 14px;
  font-family:"Bahnschrift", sans-serif;
  border-width: 2px;
  border-style: solid;
  background-color: #8c5cbc;
  text-decoration: none;

}

.button:active {
  background-color: rgba(51, 10, 106, 1);
}

.paragraph {
  font-family:"Bahnschrift", sans-serif;
  font-style:normal;
  font-size:14px;
  color:#000000;
}

.block {
  position:absolute;
  background:inherit;
  background-color:rgba(215, 179, 228, 0.6980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 10, 106, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.header {
  border-width:0px;
  position:relative;
  display:flex;
  font-family:"Bahnschrift Bold", "Bahnschrift", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
.link_hidden {
  text-decoration: none;
  color: inherit;
}
.page_header {
  position: absolute;
  display: flex;
  font-family: "Bahnschrift Bold", "Bahnschrift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #000000;
}
.toast-notification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Add a transition effect for opacity */
}
.toast-notification.fade-out {
  opacity: 0; /* Fade out the toast by changing opacity to 0 */
}
.breadcrumbs_div {
  z-index: 2;
  position: absolute;
  top: 120px;
}
.breadcrumbs_text {
  font-size: 18px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* popup styles */
/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  border: none;
}

/* Close button */
.close {
  width: 24px;
  height: 24px;
  border: solid 1px;
  border-radius: 12px;
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}