body {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden; 
}
.main {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text_default {
  font-family:"Bahnschrift", sans-serif;
}

.button {
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 8px;
  border-color: rgba(51, 10, 106, 1);
  font-size: 14px;
  font-family:"Bahnschrift", sans-serif;
  border-width: 2px;
  border-style: solid;
  background-color: #8c5cbc;
  text-decoration: none;
}

.button:active {
  background-color: rgba(51, 10, 106, 1);
}

.paragraph {
  font-family:"Bahnschrift", sans-serif;
  font-style:normal;
  font-size:14px;
  color:#000000;
}

.block {
  background:inherit;
  background-color:rgba(215, 179, 228, 0.6980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 10, 106, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.header {
  font-family:"Bahnschrift Bold", "Bahnschrift", sans-serif;
  font-weight:700;
  font-size:21px;
}
.link_hidden {
  text-decoration: none;
  color: inherit;
}

.toast-notification {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Add a transition effect for opacity */
}
.toast-notification.fade-out {
  opacity: 0; /* Fade out the toast by changing opacity to 0 */
}
.breadcrumbs_div {
  margin-top: 20px;
}
.breadcrumbs_text {
  font-size: 18px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.img-contain {
  object-fit: contain;
}


/* popup styles */
/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  border: none;
}

/* Close button */
.close {
  width: 24px;
  height: 24px;
  border: solid 1px;
  border-radius: 12px;
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for a generic page header */
.topic-header {
  width: 100%;
  display: grid;
  grid-template-columns: [left-gap] 15% [header-text] max-content [center-gap] auto [find-more] max-content [right-gap] 10% [end];
}
.header-line-row {
  grid-column-start: left-gap;
  grid-column-end: end;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-line {
  position: relative;
  top: 70px;
  width: 100%;
  z-index: -1;
  height: 2px;
  background-color: rgba(51, 10, 106, 1);
}
.topic-header-text {
  grid-column: header-text;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  font-size: 30px !important;
}

/* Common styles for sign up and log in pages */
.sign_up_main {
  width: 100%;
  min-height: 850px;
  height: 100%;
  background-image: url(../public/images/logo_background.png);
  background-size:cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign_up_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  color: black;
  width: 45%;
  border-radius: 10px;
  background-color: white;
  height: 60px;
  font-size: larger;
  border: solid 2px transparent;
}
.sign_up_btn:active, .sign_up_btn:hover {
  cursor: pointer;
  background-color: aliceblue;
  border: solid 2px rgb(40, 39, 39);
}
.sign_up_input {
  border: solid 2px white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: 24px;
  padding: 2px;
}

/* Generic actegory selection drop-down */
.category_sort_div {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.category_sort {
  background-color: #8c5cbc;
  border: solid 2px rgba(51, 10, 106, 1);
  border-radius: 15px;
  width: max-content;
  color: white;
  padding: 8px;
}
.category_sort:hover {
  background-color: #6d4396;
  cursor: pointer;
}

/* Common mod / admin page styles */
.control_panel {
  display: flex;
  flex-wrap: wrap;
}
.control_panel * {
  position: static;
  flex: 1 0 calc(50% - 40px); /* Each item takes up 50% of the container width */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin: 20px;
}

.control_panel div {
  border: solid 2px;
  border-radius: 15px;
  background-color: rgba(190, 179, 255, 0.46);
}

.limit_input {
  border-radius: 10px;
  border: solid 1px;
}

.add_button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_items_div {

}

.limit_form {
  border-radius: 15px;
  background-color: aliceblue;
}

.id_form {
  border-radius: 15px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}
.id_form * {
  flex: 0 1 auto; /* Allows the item to shrink and grow as needed, without forcing a fixed size */
  margin: 10px; /* Example margin; adjust as necessary */
}
.search_button {
  cursor:pointer;
  height: 38px !important;
  width: 38px !important;
  border-radius: 19px;
  border: solid 1px black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_button:active, .search_button:hover {
  border-color: gray;
  border-width: 2px;
  background-color: rgb(228, 228, 228);
  height: 42px;
  width: 42px;
  border-radius: 21px;
}

.search_button_img {
  height: 40px;
  width: 40px;
}

.add_button{
  /* For some reason I seem to be unable to apply the width property. */
  width: 150px;
  height: 70px;
}

.loading-circle {
  z-index: 100;
  position: absolute;
  display: none;
  top:80px;
  left: 20px;
  border: 5px solid white !important;
  border-top: 5px solid gray !important;
  border-bottom: 5px solid gray !important;
  border-left: 5px solid gray !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Common teacher profile image style */
.teacher_pfp {
  border: 2px solid #6d4396;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 
    -9px -9px 15px -5px rgba(155, 96, 214, 0.6),
    -9px -9px 15px -5px rgba(155, 96, 214, 0.6);
}
