.teacher_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.teacher_entry_div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    object-fit: contain;
    max-width: 350px;
}
.button_div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}