.teacher_block {
    width:360px;
    min-height:550px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.teacher_info_div {
    padding-left: 40px;
    padding-right: 40px;
}

.teacher_image_div {
    position: relative;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:294px;
    height:250px;
}

.teacher_image {
    width:294px;
    height:250px;
}

.teacher_price_div {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    display:flex;
    justify-content:center;
    align-items:center;
    height:22px;
    width: 150px;
    border-width:2px;
    border-style:solid;
    border-color:rgba(51, 10, 106, 1);
    border-radius:10px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
}

.teacher_buttons_div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:center;
    align-items:center;
}

.btn_teacher {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    height: 40px !important;
    width: 120px !important;
    padding: 0 !important;
}